nav, header, footer {
    display: block;
}

section {
    transition: all 0.5s ease;
}

body {
    line-height: 1;
    margin: 0;
}

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    left: -230px;
    width: 230px;
    height: 100%;
    background-color: gainsboro;
    color: green;
    transition: all .5s ease;/*create transition time in 0.5s*/
}

.sidebar header {
    font-size: 22px;
    height: 70px;
    line-height: 70px;
    color: white;
    text-align: center;
    list-style: 70px;
    background-color: rgb(39, 88, 248);
    user-select: none;
}

.sidebar ul a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 65px;
    font-size: 20px;
    color: rgb(39, 88, 248);
    padding-left: 5px;
    box-sizing: border-box;
    border-top: 1px solid rbga(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;/*make the button float when hover*/
}

ul li:hover a {
    padding-left: 20px;
}

.title {
    display: block;
    text-decoration: none;
    min-height: 30px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #0069ff;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: white
}

ul.topnav li.dropdownIcon {
    display: none;
}

label {
    font-size: 36px;
    font-weight: 600;
}

p {
    font-size: 25px;
    line-height: 1.2;
}

article {
    font-size: 35px;
    padding: 20px;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

button {
    font-size: 32px;
    font-weight: 700;
    color: white;
    background-color: #0069ff;
    padding: 15px 60px;
    display: block;
    text-align: center;
    margin: 5px;
    border-radius: 7px;
}

button.learnMore {
    display: block;
    margin: auto;
}

.checkoutClass {
    float: right;
}

button.checkoutButtons {
    display: inline-block;
    font-size: 20px;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

h1.larger {
    color: #fff;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

form h2 {
    color: #fff;
}

input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}

.videoContainer iframe{
    position: relative;
    width: 100%;
    margin: 0;
}

h1.section2Header {
    font-size: 65px;
    text-align: center;
}

div.box {
    text-align: center;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    border-radius: 7px;
    background-color: #FFF;
    box-shadow: 0 0 10px blue
}

div.icon {
    width: 100%;
}

footer.footClass {
    background-color: #666;
    padding-left: 10%;
}

footer.footClass h1 {
    color: white;
    font-size: 35px;
}

footer.footClass ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footClass ul li {
    color: white;
    font-size: 22px;
    line-height: 1.2;;
}

/*Custom style*/
#section-1-gradient {
    background-image: linear-gradient(#076DFF, #65a5ff);
}

div.left-col {
    margin-left: 30%;
}

div.rightSide-Col {
    margin-right: 5%;
}

/*MOBILE*/
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }

    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }

    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }

    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }

    h1.section2Header {
        font-size: 45px;
    }

    .col-6, .col-4, .col-7 {
        width: 100%;
        margin: 0;
    }

    div.mobileRow {
        width: 50%;
        display: block;
    }
    
    div.box {
        padding: 5px;
        display: block;
    }

    div.left-col, div.rightSide-Col {
        margin: 15px;
    }

    input[type="text"] {
        width: 350px;

    }
}

