/* this part taken from index */
body {
    line-height: 1;
    margin: 0;
}
nav {
  width: 100%;
  margin: 0;
}

nav ul {
  background-color: #eee;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.topnav li {
  list-style: none;
  float: left;
}

ul.topnav li.topnav-right {
  float: right;
}

ul.topnav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: #666;
}

ul.topnav li a:hover {
  background-color: #0080ff;
  color: white
}

ul.topnav li.dropdownIcon {
  display: none;
}

.title {
  display: block;
  text-decoration: none;
  min-height: 30px;
  text-align: center;
  padding: 14px 14px 0px 14px;
  text-transform: uppercase;
  color: #0069ff;
}

.sidebar {
  position: fixed;
  left: -230px;
  width: 230px;
  height: 100%;
  background-color: gainsboro;
  color: green;
  transition: all .5s ease;/*create transition time in 0.5s*/
}

.sidebar header {
  font-size: 22px;
  height: 70px;
  line-height: 70px;
  color: white;
  text-align: center;
  list-style: 70px;
  background-color: rgb(39, 88, 248);
  user-select: none;
}

.sidebar ul a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 65px;
  font-size: 20px;
  color: rgb(39, 88, 248);
  padding-left: 5px;
  box-sizing: border-box;
  border-top: 1px solid rbga(255, 255, 255, .1);
  border-bottom: 1px solid black;
  transition: .4s;/*make the button float when hover*/
}

ul li:hover a {
  padding-left: 20px;
}
/* end */

/* product images */
#product-img{
  padding-top: 50px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  #return{
    position: absolute;
    top: 60px;
    left: 0;
    width: 80px;
    height: 80px;
    z-index: -1;
  }
  #product-img > p{font-size: 30px; padding: 0px 150px; text-align: center;}
  #product{width: 400px; height: 400px; }
  #product-img > div{
    position: absolute;
    right: calc(50% - 400px);
    font-size: 50px;
    background-color: yellow;
    color: red;
  }
    #product-img > div > p {margin: 0px;}


/* product detail */
#product-detail{
  background-color: #E5E5E5;
  font-size: 30px;
  margin: 20px 200px;
  padding: 15px 15px 45px;
}
  #product-detail > p {
    margin: 10px 15px;
  }

/* Add to cart */
#to-cart{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid gray;
  padding-bottom: 50px;
}
  #to-cart > a{text-decoration: none;}
  #add{
    display: flex;
    width: 450px;
    color: white;
    background-color: lightskyblue;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    font-size: 50px;
    gap: 50px;
  }

/* Related product  */
#related-header{
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
}
  #related-header > div {
    background-color: gray;
    font-size: 40px;
    font-weight: 800;
    padding: 5px 30px;
    border: 1px solid black;
  }

#related-product{
  display: flex;
  gap: 15px;
}
  .rproduct{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 450px;
    border: 1px solid black;
  }
  .rproduct > div > p{
    min-height: 60px;
    white-space: pre-wrap;
  }
  .rproduct > img{width: 300px; height: 300px;}
  .rproduct > h2 {color: coral; font-size: 30px;}


/* final */
#final{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(1, 1, 136);
  color: white;
  padding: 10px 20px;
}